<?xml version="1.0" ?>
<!--To turn off global logging, add attribute globalThreshold="Off" to nlog element-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <!--NLog will write to relative path-->
  <targets>
    <target name="traceLog"
      xsi:type="File"
      concurrentWrites="false"
      archiveFileName="${basedir}/logs/TraceLog.${shortdate}.{##}.log"
      archiveAboveSize="3000000"
      archiveNumbering="Rolling"
      maxArchiveFiles="10"
      fileName="${basedir}/logs/TraceLog.${shortdate}.log"
      layout="${date}|${level}|${logger}|${event-properties:item=Method}|${message}|${machinename}|${event-properties:item=RequestId}"
      keepFileOpen="false">
    </target>
    <target name="errorLog"
     xsi:type="File"
     concurrentWrites="false"
     archiveFileName="${basedir}/logs/ErrorLog.${shortdate}.{##}.log"
     archiveAboveSize="3000000"
     archiveNumbering="Rolling"
     maxArchiveFiles="10"
     fileName="${basedir}/logs/ErrorLog.${shortdate}.log"
     layout="Timestamp: ${date}${newline}${all-event-properties:format=[key]\: [value]:separator=\&#xD;&#xA;}${newline}Message: ${message}${newline}Exception: ${exception:format=toString}${newline}Machine: ${machinename}${newline}${newline}----------------------------------------"
     keepFileOpen="false">
    </target>
    <target xsi:type="Console"
        name="consoleLog"       
        error="true"
        detectConsoleAvailable="true" />
    </targets>
  <rules>
    <!--To turn off logging at different NLog levels, set attribute enabled="false" in logger element-->
    <logger name="icy2Logger" minlevel="Debug" maxlevel="Fatal" writeTo="traceLog,consoleLog" enabled="true"/>
    <logger name="*" level="Error" writeTo="errorLog,consoleLog" enabled="true"/>
  </rules>
</nlog>